* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loader{
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__span{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: inline-block;
      border-top: 4px solid #1976d2;
      border-right: 4px solid transparent;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    &::after {
      content: '';  
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 0;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border-left: 4px solid red;
      border-bottom: 4px solid transparent;
      animation: rotation 0.5s linear infinite reverse;
    } 
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}